.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache/

*.code-workspace

node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.cache/
.config/

.replit
replit.nix